# Local settings
app.ini

# Python
__pycache__/
*.py[cod]

# File managers
*~
*.swp
.directory

# Geany editor
*.geany

# NinjaIDE
.*.nja

# Eclipse
.project
.pydevproject
.settings

# Netbeans
nbproject/

# PyCharm
.idea

# py.test
.cache
.testmondata
.tmontmp
.hypothesis

# sqlite
db

# project
config.yml
index.html
